{% extends "base.html" %}
{% block title %}Iniciar Sesión - Nutripy{% endblock %}
{% block content %}
<div class="formulario">
    <h2>Iniciar Sesión</h2>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('login') }}">
        <label>Usuario:</label>
        <input type="text" name="username" required>

        <label>Contraseña:</label>
        <input type="password" name="password" required>

        <button type="submit">Entrar</button>
    </form>
</div>
{% endblock %}